aside.logo{
    background-color: var(--bg-dark); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

aside.logo img{
    padding: 0px 15px;
    width: 100%;
    
}